{% extends "app/layout.html" %}

{% block content %}
    <div data-role="page" id="mainpage">
  	    <div data-role="header">
    	    <h1>{{ title }}</h1>
  	    </div>
        <div data-role="main" class="ui-content">
            <div style="max-width: 800px; margin: 0 auto;">
                <form action="{% url 'login' %}" method="post" data-ajax="false">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="ui-field-contain">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="field-validation-error">{{ error|escape }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <input type="submit" value="Zaloguj">
                <input type="hidden" name="next" value="/home/">
                </form>
            </div>
  	    </div>
    </div>
{% endblock %}
