{% extends "app/shared/layout.html" %}

{% block content %}

<div data-role="page" id="home">

    <div data-role="header" data-position="fixed">
        <h1>{{ title }}</h1>
    </div>

    <div data-role="main" class="ui-content">
        <ul data-role="listview" class="app-menu">
            <li data-role="list-divider">Menu aplikacji</li>
            <li><a href="{% url 'register' %}">Dziennik</a></li>
            <li><a href="{% url 'groups' %}">Przeglądaj grupy</a></li>
            <li><a href="{% url 'groups_add' %}">Dodaj grupę</a></li>
            <li><a href="{% url 'semesters' %}">Zarządzaj semestrami</a></li>
            <li data-role="list-divider">&nbsp;</li>
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        </ul>
    </div>

    {% include "app/shared/footer.html" %}

</div>

{% endblock content %}