{% extends "app/layout.html" %}

{% block content %}

<!-- Browse Group Page -->

<div data-role="page" id="browse_group" data-title="{{ title }}">

    <div data-role="header" data-position="fixed">
        <a href="#" class="ui-btn ui-btn-left ui-corner-all ui-shadow ui-icon-back ui-btn-icon-left" data-rel="back">Powrót</a>
        <h1>{{ title }}</h1>
    </div>

    <div data-role="main" class="ui-content">

        <div style="font-size: smaller; text-align: right;">Aktualny semestr: <span style="font-style: italic;">{% if semester %}{{ semester.academic_year }}{{ semester.sem_type }}{% else %}brak{% endif %}</span></div>

        <h4>Lista grup</h4>

        <ul data-role="listview">
            {% if classes %}
                {% for c in classes %}
                    <li>
                        <a href="{% url 'browse_group_show' c.group.id %}">
                            <h2>{{ c.group.short_name }}</h2>
                            <p>{{ c.subject }} - {{ c.get_classes_type_display }}</p>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li style="text-align: center;">brak</li>
            {% endif %}
        </ul>
    </div>

    {% include "app/include/footer.html" %}

</div>

<!-- / Browse Group Page -->

{% endblock content %}