{% extends "app/shared/layout.html" %}

{% block content %}

<div data-role="page" id="noseminfo" data-title="{{ title }}">

    {% include "app/shared/menu.panel.html" %}

    <div data-role="header" data-position="fixed">
        {% include "app/shared/header.partial.left.html" %}
        <h1>{{ title }}</h1>
        {% include "app/shared/header.partial.right.html" %}
    </div>

    <div data-role="main" class="ui-content">
        <p style="text-align: center;">Brak aktywnego semestru</p>
    </div>

    {% include "app/shared/footer.html" %}

</div>

{% endblock content %}
