{% extends "app/shared/layout.html" %}

{% block content %}

<div data-role="page" id="register" data-title="{{ title }}">

    {% include "app/shared/menu.panel.html" %}

    <div data-role="header" data-position="fixed">
        {% include "app/shared/header.partial.left.html" %}
        {% include "app/shared/header.partial.center.html" %}
        {% include "app/shared/header.partial.right.html" %}
    </div>

    <div data-role="main" class="ui-content">

        <div class="register-wrapper">
            <div class="register-container">
                <div class="header">
                    <span class="title"></span>
                    <a onclick="loadPrev(event)" href="#" class="left ui-btn ui-corner-all ui-shadow ui-icon-carat-l ui-btn-icon-notext ui-btn-inline">Wstecz</a>
                    <a onclick="loadNext(event)" href="#" class="right ui-btn ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-notext ui-btn-inline">Dalej</a>
                </div>
                <div class="table clearfix"></div>
            </div>
        </div>

    </div>

    {% include "app/shared/footer.html" %}

</div>

{% endblock content %}