/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.no-data-infobox {
    text-align: center;
    font-style: italic;
    padding: 20px 0;
}

#result-box {
    text-align: center;
    color: #47a447;
}

.loading {
    text-align: center;
}