{% extends "app/shared/layout.html" %}

{% block content %}

<div data-role="page" id="semesters" data-title="{{ title }}">

    {% include "app/shared/menu.panel.html" %}

    <div data-role="header" data-position="fixed">
        {% include "app/shared/header.partial.left.html" %}
        <h1>{{ title }}</h1>
        {% include "app/shared/header.partial.right.html" %}
    </div>

    <div data-role="main" class="ui-content">

        <h4>Lista semestrów</h4>

        <ul data-role="listview" data-inset="true">
            {% if semesters %}
                <li data-role="list-divider">aktywny</li>
                {% for semester in semesters %}
                    {% if semester.active %}
                    <li><a href="{% url 'semesters_details' semester.id %}">{{ semester.academic_year }}{{ semester.sem_type }}<span class="ui-li-count">{{ semester.groups }}</span></a></li>
                    {% endif %}
                {% endfor %}
                <li data-role="list-divider">nieaktywne</li>
                {% for semester in semesters %}
                    {% if not semester.active %}
                    <li><a href="{% url 'semesters_details' semester.id %}">{{ semester.academic_year }}{{ semester.sem_type }}<span class="ui-li-count">{{ semester.groups }}</span></a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li style="text-align: center;">brak</li>
            {% endif %}
        </ul>
    </div>

    {% include "app/shared/footer.html" %}

</div>

{% endblock content %}