{% extends "app/shared/layout.html" %}
{% load addcss_tag %}

{% block content %}

<div data-role="page" id="add_group" data-title="{{ title }}">

    {% include "app/shared/menu.panel.html" %}

    <div data-role="header" data-position="fixed">
        {% include "app/shared/header.partial.left.html" %}
        <h1>{{ title }}</h1>
        {% include "app/shared/header.partial.right.html" %}
    </div>

    <div data-role="main" class="ui-content">
        <form enctype="multipart/form-data" action="{% url 'groups_add' %}" method="post" data-ajax="false">
            {% csrf_token %}
            {% for field in add_group_form %}
            <div class="ui-field-contain">
                {{ field.label_tag }}
                {% if field.errors %}
                    {{ field|addcss:"input-validation-error" }}
                    {{ field.errors }}
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
            {% endfor %}
            {{ add_group_form.non_field_errors }}
        <input type="submit" value="Dodaj grupę">
        </form>
    </div>

    {% include "app/shared/footer.html" %}

</div>

{% endblock content %}