{% extends "app/layout.html" %}

{% block content %}

<!-- Home Page -->

<div data-role="page" id="home">

    {% include "app/include/header.html" %}

    <div data-role="main" class="ui-content">
        <a href="#semesters" class="ui-btn ui-corner-all ui-shadow">Zarządzanie semestrami</a>
        <a href="#students" class="ui-btn ui-corner-all ui-shadow">Baza studentów</a>
    </div>

    {% include "app/include/footer.html" %}

</div>

<!-- / Home Page -->

<!-- Semester's Index Page -->

<div data-role="page" id="semesters">
    {% include "app/include/header.html" %}
    <div data-role="main" class="ui-content" id="semesters-main"></div>
    {% include "app/include/footer.html" %}
</div>

<!-- / Semester's Index Page -->

<!-- Semester's Creating Dialog Page -->

<div data-role="page" data-dialog="true" id="new-semester">

    <div data-role="header">
        <h1>Dodaj semestr</h1>
    </div>

    <div data-role="main" class="ui-content" id="new-semester-main">
        <div id="sem-result-box"></div>
        <form action="" method="post" id="new-semester-form">
            {% csrf_token %}
            <div class="ui-field-contain">
                <label for="id_academic_year">Rok akademicki:</label>
                <input id="id_academic_year" maxlength="7" name="academic_year" type="text" placeholder="np. 2010/11">
            </div>
            <div class="ui-field-contain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Semestr:</legend>
                    <label for="id_sem_type_0">zimowy</label>
                    <input type="radio" name="sem_type" id="id_sem_type_0" value="z" checked>
                    <label for="id_sem_type_1">letni</label>
                    <input type="radio" name="sem_type" id="id_sem_type_1" value="l">
                </fieldset>
            </div>
            <div class="ui-field-contain">
                <label for="id_start_date">Data rozpoczęcia:</label>
                <input id="id_start_date" name="start_date" type="date">
            </div>
            <div class="ui-field-contain">
                <label for="id_end_date">Data zakończenia:</label>
                <input id="id_end_date" name="end_date" type="date">
            </div>
            <input type="submit" value="Dodaj">
        </form>
    </div>

</div>

<!-- / Semester's Creating Dialog Page -->

<!-- Semester's properties Dialog Page -->

<div data-role="page" data-dialog="true" id="sem-properties">

    <div data-role="header">
        <h1>Opcje semestru</h1>
    </div>

    <div data-role="main" class="ui-content" id="sem-properties-main"></div>
</div>

<!-- / Semester's properties Dialog Page -->

<!-- Student's Index Page -->

<div data-role="page" id="students">
    {% include "app/include/header.html" %}
    <div data-role="main" class="ui-content" id="students-main"></div>
    {% include "app/include/footer.html" %}
</div>

<!-- / Student's Index Page -->

<!-- Student's Details Page -->

<div data-role="page" id="student-details">
    {% include "app/include/header.html" %}
    <div data-role="main" class="ui-content" id="student-details-main"></div>
    {% include "app/include/footer.html" %}
</div>

<!-- / Student's Details Page -->

<!-- Student's Creating Dialog Page -->

<div data-role="page" data-dialog="true" id="new-student">

    <div data-role="header">
        <h1>Dodaj studenta</h1>
    </div>

    <div data-role="main" class="ui-content" id="new-student-main">
        <div id="std-result-box"></div>
        <form action="" method="post" id="new-student-form">
            {% csrf_token %}
            <div class="ui-field-contain">
                <label for="id_name">Imię:</label>
                <input id="id_name" name="name" type="text">
            </div>
            <div class="ui-field-contain">
                <label for="id_surname">Nazwisko:</label>
                <input id="id_surname" name="surname" type="text">
            </div>
            <input type="submit" value="Dodaj">
        </form>
    </div>

    <script>

    </script>

</div>

<!-- / Student's Creating Dialog Page -->

{% endblock content %}